.search-modal {
 padding-top: 0 !important;
 padding: 1rem;
 position: absolute;
 width: 100%;
 background-color: white;
 margin-top: 0;
 right: 0;
 top: 0;
 z-index: 2;
 visibility: hidden;
 transform: translateY(-100%);
 transition: all 0.1s ease-in;
}
.search-modal.show-modal {
 visibility: visible;
 position: fixed;
 transform: translate(0);
}
.modal-search-bar {
 margin-top: 0;
 padding: 0.7rem;
 border-bottom: 0.07rem solid rgb(0, 0, 0, 0.2);
}
.modal-icon {
 cursor: pointer;
 color: orange;
 font-size: 1.4rem;
 margin: 0.4rem;
}
.modal-input {
 padding: 0.2rem;
 margin-left: 0.7rem;
 margin-right: 0.7rem;
 border: transparent;
 border-right: 0.1rem solid rgba(0, 0, 0, 0.3);
}
