html,body {
 background-color: lavender;
 font-family: sans-serif;background-color: white;
}
h1 {
  font-size: 3.5rem;
  font-weight: 900;
  font-family: serif;
}
h3 {
  font-size: 2.7rem;
  font-weight: 900;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 h2, h4 {
 font-weight: 800;
 font-size: 2rem;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p {
 letter-spacing: 0.1rem;
  font-size: 1.3rem;
}
.btn-outline {
 background-color: transparent;
 font-weight: 700;
 padding: 0.7rem !important;
 text-transform: capitalize;
 border: 0.1rem solid orange;
 border-radius: 10px;
 color: orange;
 transition: all 0.5s ease-in;
}
.btn-outline:hover {
 background-color: orange;
 color: white;
}
.btn-inline {
 background-color: orange;
 font-weight: 700;
 padding: 0.7rem !important;
 text-transform: capitalize;
 border: 0.1rem solid orange;
 border-radius: 10px;
 color: white;
 transition: all 0.5s ease-in;
}
.btn-inline:hover {
 background-color: transparent;
 color: orange;
}
button {
 font-size: 1.4rem !important;
}


/* HomePage */
.header-img {
  min-height: 70vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: relative;
  background-size: cover;
  padding-top: 25vh;
  padding-left: 3rem;
  margin: 0;
  display: block;
  overflow: auto;
}  
.header-img h1 {
 color: white; 
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-size: 2rem;
 display: block;
} 
.header-img p {
 color: white; 
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-size: 2rem;
 display: block;
} 
.header-img p {
 font-weight: 800; 
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 

/* ICON */
.icon {
 width: 50%;
 padding: 2rem;
 margin: 2rem;
 margin-right: 1rem;
 transition: all 0.5s ease-in;
}
.icon:hover {
 transform: scale(1.2);
 background-color: white;
 box-shadow: 0 4px 8px grey, 0 6px 20px 0 gray;
 cursor: pointer;
}


/* Introduction section */
.quote {
 padding: 3rem; 
 margin-top: 2rem;
 color: orangered !important;
 background-color: hsl(39, 100%, 85%);
 border-left: 0.5rem solid orange;
 border-radius: 10px;
 font-size: 2rem;
} 
.quote>p {
 color: orangered;
 font-size: 2rem; 
} 

.card-1 {
  background: linear-gradient(rgb(0,250,154,0.08),rgb(65,105,186,0.2));
  padding: 2rem;
  margin: 2rem;
  border: 0.1rem solid rgb(235,137,186,0.3);
  border-radius: 10px;
  transition: all 0.5s ease-in;
}
.card-2 {
  background: linear-gradient(rgb(135,206,235,0.1),rgb(235,137,186,0.3));
  padding: 2rem;
  margin: 2rem;
  border: 0.1rem solid rgb(235,137,186,0.3);
  border-radius: 10px;
  transition: all 0.5s ease-in;
}
.card-3 {
  background: linear-gradient(rgb(70,130,180,0.3),rgb(224,255,255,0.3));
  padding: 2rem;
  margin: 2rem;
  border: 0.1rem solid rgb(235,137,186,0.3);
  border-radius: 10px;
  transition: all 0.5s ease-in;
}
.card-4 {
  background: linear-gradient(rgb(255,255,0,0.1),rgb(255,165,0,0.3));
  padding: 2rem;
  margin: 2rem;
  border: 0.1rem solid rgb(235,137,186,0.3);
  border-radius: 10px;
  transition: all 0.5s ease-in;
}
.card-1:hover, .card-2:hover, .card-3:hover, .card-4:hover {
transform: scale(1.1);
 background-color: white;
 box-shadow: 0 4px 8px grey, 0 6px 20px 0 gray;
 cursor: pointer;
}
.font {
  font-size: 3rem;
  color: rgb(247, 11, 156);
}

/* VIDEO */
.link {
  background-color: rgb(255, 165, 0, 0.2);
  padding-top: 0.9rem;
  padding-bottom: 0.3rem;
  padding-left: 1rem;
}
.comma {
  border: 0.1rem solid orange;
  background-color: white;
  padding: 2rem;
  display: block;
  margin-top: 2rem;
  margin-bottom: 0;
}
.comma button {
  float: right;
}
main {
  background: rgb(255, 165, 0, 0.1);
  border: 0.1rem solid o;
  padding-top: 6rem;
  padding-left: 2rem;
  height: 60vh;
}
.ready {
  background: linear-gradient(rgb(255,255,0,0.1),rgb(255,165,0,0.3));
  padding: 4rem;
  margin-top: 5rem;
}
.img {
  box-shadow: 0 4px 8px grey, 0 6px 20px 0 gray;
 cursor: pointer;
}
  

















