body {
 background-color: lavender;
 font-family: sans-serif;
 box-sizing: border-box;
}

h5 {
 font-weight: 600;
}
.orange {
 color: orange;
}
.bg-grey {
 background-color: rgb(255, 252, 255, 0.4);
}
.add-btn {
 padding: 0.5rem;
 border: 0.1rem solid orange;
 border-radius: 5px;
 font-weight: 700;
 text-transform: uppercase;
 color: white;
 background-color: orange;
 transition: all 1s ease-in-out;
}
.add-btn:hover {
 background-color: white;
 color: orange;
}

/* CAROUSEL */
.services {
 cursor: pointer;
 text-transform: capitalize;
 margin: 1rem;
}
.services > h6 {
 font-weight: 500;
 margin-top: 0.2rem;
 text-align: center;
}

/* RECOMMENDED */
.recommended {
 padding: 1rem;
 border-top: 0.2rem solid lavender;
}
.recommended-overflow {
 display: flex;
 overflow-x: scroll;
 height: 100%;
}

.recommended-card {
 display: block;
 margin: 1rem;
 position: relative;
 text-transform: capitalize;
 padding: 0 !important;
 transition: all 0.5s ease-in;
}
.recommended-card:hover {
 box-shadow: 2px 2px 8px 10px rgb(0, 0, 0, 0.2);
}
.recommended-card h6 {
 margin-left: 0.3rem;
 color: rgb(0, 0, 0, 0.6);
 font-weight: 600 ;
}
.recommended-card p {
 margin-left: 0.3rem;
 font-weight: 600;
}
.top {
 position: absolute;
 top: 0;
 right: 0;
 color: white !important;
 background-color: orange;
 font-size: rem;
 border-radius: 0 0 0 5px;
}
.img-border {
 border-radius: 10px;
 margin-top: 0.5rem;
 margin-bottom: 0.7rem;
}

/* DEFACTO STORE */
.defacto {
 background-color: rgb(124, 252, 0, 0.7);
 font-size: larger;
}
.defacto div {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

/* BRAND */
.brand {
 color: white;
 background-color: rgb(255, 0, 0, 0.8);
 font-size: larger;
}
.brand div {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

/* ANKER STORE */
.anker {
 background-color: rgba(253, 165, 1, 0.6);
 font-size: larger;
}
.anker div {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

/* NIKE STORE */
.nike {
 background-color: rgba(0, 0, 0, 0.2);
 font-size: larger;
}
.nike div {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

/* PRODUCT-CARD*/
.product-card {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
 display: block !important;
 background-color: white;
 margin-bottom: 0.5rem;
 border-radius: 5px;
 transition: all 0.5s ease-in-out;
}
.product-card:hover {
  box-shadow: 2px 2px 8px 5px rgb(0, 0, 0, 0.2);

}
.product-text p {
   white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-btn {
 background-color: orange;
 border: transparent;
 border-radius: 7px;
}


/* DETAILS */
.sticky {
 position: sticky;
 bottom: 0;
}

/* CART */
.car {
 border: 0.06rem solid orange;
 box-shadow: 2px 2px 8px 5px rgb(0, 0, 0, 0.2);
}
.empty-cart {
  height: 90vh;
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.2);
}
.empty-cart div {
  border-radius: 10px;
  padding: 3rem;
}


/* SIGNUP */
.signup {
  text-transform: capitalize;
  height: 92vh;
  background-color: orange;
  margin-bottom: 0 !important;
}
.submit {
  border-radius: 7px;
  box-shadow: 2px 2px 8px 5px rgb(0, 0, 0, 0.2) ;
}
.signup input {
  border: 0.1rem solid rgb(0, 0, 0, 0.8);
  border-radius: 7px;
}
.signup input:focus {
  border-color: orange;
}
.signup button {
  text-transform: capitalize;
  color: white;
  background-color: orange;
  font-weight: bold;
  border: transparent;
  border-radius: 6px;
}
/* SEARCH ITEMS */
.not-found {
  height: 90vh;
  background-color: white;
}
.not-found .div {
  font-size: larger;
  padding: 2rem;
  margin-top: 3rem;
  border-radius: 10px;
  box-shadow: 2px 2px 800px 5000px rgb(0, 0, 0, 0.2);
}

/* footer */
footer {
 background-color: rgb(0, 0, 0, 0.8);
 color: white;
 margin-top: 2rem;
 margin-bottom: 0;
}
footer h1 {
 color: orange;
 font-family: cursive;
}
.btn-outline-white {
 color: orange;
 border: 0.06rem solid orange;
 font-weight: bolder;
 transition: all 0.5s ease-in;
}
.btn-outline-white:hover {
 background-color: orange;
 color: white;
}
.download {
 margin-top: 2rem;
 text-transform: capitalize;
}
